<%# 投稿ページです %>
<div class="container">
  <div class="head">
    <h3>募集する</h3>
  </div>
  <%= form_with(model: @post, local: true) do |f| %>
      <%= render 'shared/error_messages', model: f.object %>
    <div class="post-field">
      <%= f.text_area :text, placeholder:"本文" %>
      <%# <div class="click-upload"> %>
        <%# <p>クリックしてファイルをアップロード</p> %>
        <%# <%= f.file_field :image, id:"item-image"%>
      <%# </div> %>
      <%# <%= f.text_field :name, placeholder:"タグ" %>
    </div>

    <div class="submit-post">
      <%= f.submit "投稿する"%>
    </div>
    
  <% end %>
</div>